{
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier", 
        "plugin:prettier/recommended" 
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
        "semi": 2,
        "@typescript-eslint/no-var-requires": "off"
    }
}