{
    "extends": [
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier" 
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "node": true,
        "mocha": true
    },
    "rules": {
      "@typescript-eslint/no-var-requires": "off",
      "@typescript-eslint/space-before-function-paren": "true"
    }
  }